{{ define "main" }}
<main aria-role="main">
  <div class="container-sm">
    {{.Content}}
    {{ range .Site.RegularPages.ByDate }}
    <ul class="list-unstyled titlefont" style="padding: 2px;margin: 0px;text-decoration: underline;">
      {{ if .Params.isExhibition }}
      <li>
        <a href="{{.RelPermalink}}"><span class="breakspan">- {{.Title}}</span> <span class="breakspan">({{ .Params.showdate }})</span></a>
      </li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
</main>
{{ end }}
