<!DOCTYPE html>
<html>
{{- partial "head" . }}
<body class="">
    <header class="container" style="padding-bottom: 1vh;padding-top: 5vh;">
        <h1 class="titlefont"><a href="{{ .Site.Home.RelPermalink }}">{{ .Site.Data.basic.title }}</a></h1>
        {{ with .Params.subtitle }}
        <span class="subtitle">{{.}}</span>
        {{ end }}
        <p><a href="https://goo.gl/maps/W9nLWvGZbQGNVcC88">Ausstellungsraum der Flüelastrasse 30, Zürich</a></p>
    </header>
    <main class="">
        {{- block "main" . }}
        {{ end }}
    </main>
    <footer class="pl-scrollbar">
        {{- partial "footer" . -}}
    </footer>
</body>
</html>
